@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
#foregroundContainer{
    min-height: 100%;

    position: absolute;
    width: 100%;
    top: 0;
}

#contentContainer{   
    font-family: 'Varela Round', sans-serif;
    border-radius: 20px;
    position: absolute;
    margin-left: 10%;
    margin-right: 10%;
    min-width: 80%;
    top:20vh;
    color: black;
    background-color: rgba(255, 255, 255, 0.815);
    padding: 5vh;
    align-content: center;
    color: rgb(75, 0, 75);
    padding: 3vh;
}
#contentContainer > a{
    color: purple;
}
#code-box-1{
    float: right;
    width: 10vh;
    border: 2px solid white;
}
