@import url('https://fonts.googleapis.com/css2?family=Emilys+Candy&display=swap');

#topBarNav{
  padding-top: 1vh;
  width: 100%;
  top: 0;
  position: sticky;
  display: flex;
  height: 10vh;
  color: white;
  font-size: 1.3rem;
  font-family: 'Emilys Candy', cursive;
  background-color: rgba(76, 0, 139, 10);
}

a {
  padding: 2vh;
  font-weight: bold;
  color: white;
}
a:link {
  text-decoration: white;
}

a:visited {
  text-decoration: white;
}

a:hover {
  text-decoration-color: white;
}

a:active {
  text-decoration: white;
}
.logo{
    padding-left: 43vh;
}

#sidebar{
  font-family: 'Varela Round', sans-serif;
  top: 50%;
  position: absolute;
  bottom: 15vh;
  width: 10vh;
  margin-right: 5vh;
  color: white;
  text-align: center;
  align-content: center;
}

.image{
  width: 100%;
}
#heart {
  top: 0;
  position: sticky;
  width: 10vh;
  height: 10vh;
}
#heart:before,
#heart:after {
  position: absolute;
  content: "";
  left: 50px;
  top: 0;
  width: 50px;
  height: 80px;
  background: rgb(85, 1, 124);
  border-radius: 50px 50px 0 0;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
  animation-name: purple;
  animation-duration: 20s;
}
#heart:after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}
#footer{
  display: flex;
  height: 30px;
  font-family: 'Varela Round', sans-serif;
  width: 100%;
  background-color: rgb(29, 28, 28);
  color: white;
  bottom: 0;
  position: sticky;
  border-top: 10px solid black;
}
#footer > h5 {
  margin: 0 auto;
  padding-right: 10px; 
}